<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{.Config.Description}}" />
    <meta name="author" content="{{.Config.Author}}" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <title>{{.Config.Title}} - Software Engineer</title>
  </head>
  <body>
    <header>
      <section class="profile">
        <img src="{{.Config.AvatarUrl}}" alt="Avatar" class="avatar" />
        <h1>{{.Config.Title}}</h1>
        <small class="bio">{{.Config.Bio}}</small>
      </section>
    </header>
    <main>
      <section class="links">
        {{range .Config.Links}}
        <a
          class="link-item"
          href="{{.URL}}"
          target="_blank"
          rel="noopener noreferrer"
          >{{.Name}}</a
        >
        {{end}}
      </section>
    </main>
    <footer>
      <p>© <span class="year"></span> {{.Config.Author}}</p>
    </footer>
    <script src="assets/js/script.js"></script>
  </body>
</html>
